## Heroes Of Pymoli Data Analysis

Author: Xiaoyue Zhu (Emily)<br>
Date: 07/03/2020

### Summary

* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

In [106]:
# Dependencies and Setup
import pandas as pd


file_path = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [107]:
#purchase_data.count()
#purchase_data.shape

## Player Count

* Display the total number of players

In [108]:
#use .unique() to list out the unique users and len() to count the number of them
number_of_player=len(purchase_data["SN"].unique())
total_player=pd.DataFrame({"Total Players":[number_of_player]})
total_player

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [109]:
unique_items=len(purchase_data["Item ID"].unique())
average_item_price=purchase_data["Price"].mean()
number_of_purchase=len(purchase_data["Purchase ID"])
total_sale=purchase_data["Price"].sum()


purchase_analysis=pd.DataFrame({"Number of Unique Items": [unique_items],"Average Price": [average_item_price],
                               "Number of Pruchases":[number_of_purchase], "Total Revenue":[total_sale]})
purchase_analysis["Average Price"]=purchase_analysis["Average Price"].map("${:.3f}".format)
purchase_analysis["Total Revenue"]=purchase_analysis["Total Revenue"].map("${:.3f}".format)
purchase_analysis

   Number of Unique Items Average Price  Number of Pruchases Total Revenue
0                     179        $3.051                  780     $2379.770

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [110]:
#extract player name and gender cloumn from the original data
gender_player=purchase_data[["SN","Gender"]]

#get unique players and their gender
unique_gender=gender_player.drop_duplicates()
 
gender_count=unique_gender["Gender"].value_counts()

In [182]:
#get values for the gender demographics data frame
male_count=gender_count.get(key="Male")
female_count=gender_count.get(key="Female")
other_count=gender_count.get(key="Other / Non-Disclosed")
percent_male=male_count/number_of_player
percent_female=female_count/number_of_player
percent_other=other_count/number_of_player

#reindex
gender_index=gender_count.keys()

#generate gender demographics data frame
gender_analysis=pd.DataFrame({"Total Count":[male_count,female_count,other_count],
                           "Percentage of Players":["{:.2%}".format(percent_male),"{:.2%}".format(percent_female),"{:.2%}".format(percent_other)]},index=gender_index)

gender_analysis

                       Total Count Percentage of Players
Gender
Female                         652               113.19%
Male                           113                19.62%
Other / Non-Disclosed           15                 2.60%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [112]:
grouped_df=purchase_data.groupby(["Gender"])
gender_count=grouped_df["Gender"].count()
purchase_count=grouped_df["Purchase ID"].count()
avg_purchase=grouped_df["Price"].mean()
total_value=grouped_df["Price"].sum()
#avg purchase per person: total value/unique # of gender player in the previous part
unique_gender=[female_count,male_count,other_count]
avg_purchase_per_person=total_value/unique_gender

gender_purchase_summary=pd.DataFrame({"Purchase Count":purchase_count,"Avg Purchase Price":avg_purchase,
                                      "Total Purchase Value": total_value,"Avg Purchase Total per Person":avg_purchase_per_person})

#formatting
gender_purchase_summary["Avg Purchase Price"]=gender_purchase_summary["Avg Purchase Price"].map("${:.2f}".format)
gender_purchase_summary["Avg Purchase Total per Person"]=gender_purchase_summary["Avg Purchase Total per Person"].map("${:.2f}".format)
#call the summary data frame
gender_purchase_summary

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,361.94,$4.47
Male,652,$3.02,1967.64,$4.07
Other / Non-Disclosed,15,$3.35,50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [159]:
bins=[0,9,14,19,24,29,34,39,max(purchase_data["Age"])]
group_names=["<10","10-14","15-19","20-24","25-29","30-34","34-39","40+"]
purchase_data["Age Group"]=pd.cut(purchase_data["Age"],bins,labels=group_names)
#purchase_data.head(20)

#extract player name and age cloumn from the original data
age_player=purchase_data[["SN","Age","Age Group"]]

#get unique players and their gender
unique_age=age_player.drop_duplicates()
 
grouped_age=unique_age.groupby("Age Group")
age_player_count=grouped_age["SN"].count()
age_portion=(age_player_count/number_of_player)*100

age_demographic=pd.DataFrame({"Total Count": age_player_count,"Percentage of Players":age_portion})
age_demographic["Percentage of Players"]=age_demographic["Percentage of Players"].map("{:.2f}%".format)

age_demographic

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
34-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [188]:
spender_grouped=purchase_data.groupby("SN")
total_price_spender=spender_grouped["Price"].sum()
number_of_spend=spender_grouped["Purchase ID"].count()
avg_spend=spender_grouped["Price"].mean()

spenders_purchase=pd.DataFrame({"Purchase Count":number_of_spend,"Average Purchase Price":avg_spend,
                          "Total Purchase Value":total_price_spender})

#sort players by Total Purchase Value
sorted_spenders=spenders_purchase.sort_values("Total Purchase Value",ascending=False)

#formatting
sorted_spenders["Average Purchase Price"]=sorted_spenders["Average Purchase Price"].map("${:.2f}".format)
sorted_spenders["Total Purchase Value"]=sorted_spenders["Total Purchase Value"].map("${:.2f}".format)

#display top 5
sorted_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [213]:
item_price=purchase_data[["Item ID","Item Name","Price"]]
grouped_item=item_price.groupby(["Item ID","Item Name"])
item_sales_count=grouped_item["Item ID"].count()
item_revenue=grouped_item["Price"].sum()


items_sales_summary=pd.DataFrame({"Purchase Count":item_sales_count,"Total Purchase Value":item_revenue})

popular_items=items_sales_summary.sort_values("Purchase Count",ascending=False)

popular_items.head()

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
92,Final Critic,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
145,Fiery Glass Crusader,9,41.22
132,Persuasion,9,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame